:root {
    --primary-color: #2c3e50;
    --accent-color: #3498db;
    --bg-color: #131920;
    --text-color: #d3d025ea;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #D3D4D9;
    color: var(--text-color);
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(7, 13, 49, 0.081);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(153, 134, 134, 0.1);
}

h1 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--accent-color);
    display: inline-block;
    width: 100%;
}

h2 {
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.nav-list li a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.visual-hobbi {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: baseline;
}

.container button {
    background-color: rgba(8, 31, 95, 0.884);
    width: 85px;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 12px;
  
}

a {
    text-decoration: none;
    color: var(--text-color);
}


.left-panel {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-top: 10%;
            justify-content: center;
            padding-left: 100px;
            background-color:#D3D4D9;
        }

        .right-panel {
            margin-top:10px;
            margin-left: 10px;
            margin-right: 20px;
            flex: 1;
            background-image: url(assets/img1\ \(2\).jpeg); 
            background-size: cover;
            background-position: center;
            min-height: 90%;
        }

        .person {
            font-size: 4rem;
            color: #1a1a1a;
            margin-bottom: 10px;
        }

        p {
            color: #666;
            font-size: 1.1rem;
            margin-bottom: 20px;
        }

        .menu {
            display: flex;
            gap: 20px;
            font-weight: bold;
            color: #333;
        }

        .menu span {
            cursor: pointer;
        }


    .right-panel {
        border-radius: 20px;
        background-position: center;
        min-height: 100vh;
    
        } 


    .footer-panel{
            flex: 1;
            display: flex;
            margin-top: 35%;
            flex-direction:column ;
            align-items: normal;
            padding-left: 10px;
            background-color:#D3D4D9;
            gap: 40px;
            

    }    
